<html>
<head>
    <title> Current standings </title>
</head>
<body>
    <b>Filters</b><br>
    <form action="http://localhost:5000/computecurrentstandings", method="GET">
        Sort <br>
        <input type="radio" id="desc" name="AscOrDesc" value = "desc" checked>
        <label for="desc">Most wins first</label><br>
        <input type="radio" id="asc" name="AscOrDesc" value = "asc">
        <label for="asc">Least wins first</label><br>
        <br>
        Query a player (leave blank if optional):&nbsp<input type = "text" name = "player"><br>

        <br><input type = "submit">
    </form>
    <br><a href="http://localhost:5000/">Home</a> <br>
</body>
</html>