<html>
<head>
    <title> Current standings </title>
</head>
<body>
    <b>Filters</b><br>
    <form action="http://localhost:5000/currentstandings", method="GET">
        Sort <br>
        <input type="radio" id="desc" name="AscOrDesc" value = "desc" checked>
        <label for="desc">Most wins first</label><br>
        <input type="radio" id="asc" name="AscOrDesc" value = "asc">
        <label for="asc">Least wins first</label><br>
        <br>
        Query a player (leave blank if optional):&nbsp<input type = "text" name = "player"><br>

        <br><input type = "submit" value = "reload">
    </form>
    <br><br>
    No of games won <br>
    {% for key, value in dict.items() %}
		{{ key }} : {{ value }} <br>
	{% endfor %}
    <br><a href="http://localhost:5000/">Home</a> <br>
</body>
</html>