<html>
<head>
    <title> Index </title>
</head>
<body>
	  <a href="http://localhost:5000/viewraces/">View races</a> <br>
	  <a href="http://localhost:5000/currentstandings?sort=desc">Current standings desc</a> <br>
	  <a href="http://localhost:5000/currentstandings?sort=asc">Current standings asc</a><br>
	  <a href="http://localhost:5000/login/">Admin login</a> <br>
	  <a href="http://localhost:5000/logout/">Admin logout</a> <br>
	  <a href="http://localhost:5000/add/">Admin add race</a> <br>
	  <br>
	  {{msg}}
</body>
</html>