<html>
<head>
    <title> Races </title>
</head>
<body>
    <form action = "http://localhost:5000/viewraces" method = 'GET'>
        <b>Filters (leave blank if optional)</b><br>
        Featuring player :&nbsp<input type = "text" name = "player"><br>
        Begin from: <input type = "number" name = "begin" min = 0> <br>
        End at: <input type = "number" name = "end"><br>
        <input type = "submit" value = "reload">

    </form>
    <br><br>
    <table>
    <TR>
        <TD class = "c1">Race</TD>
        <TD class = "c2">Player1</TD>
        <TD class = "c3">Player2</TD>
        <TD class = "c4">Winner</TD>
    </TR>
    
    {% for race in races %}
    	<TR>
            <TD class = "c1">{{race.uid}}</TD>
            <TD class = "c2">{{race.p1}}</TD>
            <TD class = "c3">{{race.p2}}</TD>
            <TD class = "c4">{{race.w}}</TD>
        </TR>
    {% endfor %}
    </table>
<br>{{msg}}<br>
    
    <br><a href="http://localhost:5000/">Home</a> <br>
</body>
</html>